<ion-header>
  <ion-navbar>
    <ion-title>
      FUNDACIÓN COLONO
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>Usuario</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button block round (click)="verCasos()">Iniciar Sesión</button>
  </div>
</ion-content>
