<!--
  Generated template for the ListarCasosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Lista de Casos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list inset>
    <button ion-item *ngFor="let item of casos" (click)="verCaso(item.id)">
      {{ item.id }}
    </button>
  </ion-list>
</ion-content>
