<!--
  Generated template for the VerCasoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Caso</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>ID</ion-label>
      <ion-input type="text" [(ngModel)]="caso.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Detalles</ion-label>
      <ion-input type="text" [(ngModel)]="caso.detalles"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Observación</ion-label>
      <ion-input type="textarea" [(ngModel)]="observacion"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button block round (click)="agregarObservacion()">Agregar observación</button>
  </div>
</ion-content>
